# Prerequisites and Compiled Object files
obj/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/Debug/chatmachine

# Databases
database/

# scripts shell
*.sh

# IDE Files
*.cbp
*.layout
